  * {font-family: 'Raleway', sans-serif !important;}
  .blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

body {
  fill: white !important;
}
svg path {
    fill: white;
}
  .ui-content { padding-top:0; }
  .btn-text, #loadingsocket { font-size: 2em; }
  #loadingsocket, #loadinggraph {padding:1em;}
  .labelbold { font-weight:bold !important; }
  #wrap { padding: 12px; }
  .ui-listview>li.hiddenNode { display:none; }
  .ui-listview>li.hiddenNodeShow { display:block; }
  .ui-li-count18 { font-size:1.125em; }
  .  { font-size:1em; }
  .ui-li-countSTATIC {
    position:static !important;
    float:right;
    font-size:1em;
  }

  .center-div{ margin: 0 auto; }
  .center-wrapper{ text-align: center; }
  .center-wrapper * { margin: 0 auto; }
  #nodeControls { padding: 0 0.5em 0 0.5em; }
  .listIcon20px { max-width:20px; max-height:20px; padding-left: 2px;padding-right: 2px; transform:scale(1.5); margin-left:-5px; margin-top: 5px; margin-right:-2px; }
  .ui-slider { width: 10em !important; }

  textarea.ui-input-text {
    height:auto;
    font-size:1em;
    font-weight:bold;
    font-family:Courier New;
  }

  .icon {
    display:inline-block;
    white-space:nowrap;
    max-width:20px;
    max-height:20px;
  }

  .nodeDetailLabel {
    float:left;
    font-weight:bold;
    width: 110px;
  }

  .lowbatt {
    background:red;
    color:white;
    font-weight:bold;
    display:none;
  }

 
.panelButton {
    background-color: transparent !important;
    border: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ui-alt-icon.ui-icon-globe:after,
{
	background-color: rgba(0, 0, 0, 0); !important;
}


.ui-icon-globe:after {
    background-image: url("css/svg/globe-16.svg");
    /* Make your icon fit */
    background-size: 18px 18px;
}

  /*styling of inline raw action controls*/
  .rawAction .ui-mini { margin:0; }
  .rawAction .ui-btn { margin:0; padding: .3em 0; }
  .rawAction a { margin:4px 0; }
  #rawActionIDspan {
      padding: 12px 0 12px 12px;
      float:left;
      width:15%;
  }
  #rawActionTextspan {
      padding: 12px 0;
      float:left;
      width:55%;
  }
  #rawActionSendspan {
      padding: 12px 12px 12px 0;
      float:left;
      width:20%;
  }
  #rawActionIDspan div { border-radius: 0.3em 0 0 0.3em; }
  #rawActionTextspan div { border-radius: 0; }
  #rawActionSend { border-radius: 0 0.3em 0.3em 0; }
.datetime
	{	
		font-size: .75em;
		float:right;
		margin: 16px 32px;
	}
  .tab {
    width: 14.28% !important;
    clear: none !important;  /* Prevent line break */
}
.tablist-left {
    width: 25%;
    display: inline-block;
}
.tablist-content {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
}